@import 'main';

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-family;
  margin: 0;
}

header {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    i {
      color: $orange;
      font-size: 2rem;
      padding-right: 10%;
    }
  }

  .mon-compte{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    background-color: #F7A072;

    &:hover {
      background-color: darken(#F7A072,30);
    }
  }
}

.retour{
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.text{
  height:40px;
  width:600px;
  border-radius: 30px;
  border-style: none;
}

.description{
  height:250px;
  width:1000px;
  border-radius: 30px;
  border-style: none;
}

select{
  height:40px;
  width:250px;
  border-radius: 30px;
  border-style: none;
}

.ajoutS{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}
.supp{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.ajoutGrij {
  line-height: 2.5;
  padding: 0 500px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: darken(#99E1D9, 30);
  }
}

.annul{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.valid{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}

.wrapper {
  padding: 0 10vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.NDD{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.Descr{
  display: flex;
  justify-content: flex-end;
  padding: 0 10vh;

}

.proot{
  display: flex;
  flex-direction: row;
  //align-items: flex-start;
}

.format{
  display: flex;
  align-items: flex-end;
  padding: 0 05vh;
}

/* Masquer le bouton de fichier par défaut */
input[type="file"] {
  display: none;
}

/* Style personnalisé pour le faux bouton */
.custom-file-input {
  display: inline-block;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: bold;
  color: $dark-grey;
  background-color: #99E1D9;
  border: 1px solid #99E1D9 ;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;

}

/* Styler le label parent si nécessaire */
.custom-file-input-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

/* Styler le texte à côté du bouton si nécessaire */
.custom-file-input-text {
  display: inline-block;
  margin-right: 10px; /* Ajuste la marge en fonction de tes besoins */
}

/* Styliser le bouton lorsqu'il est survolé */
.custom-file-input:hover {
  background-color: #99E1D9;
  border-color: #99E1D9;
}

.butSpec {
  display: flex;
  align-items: flex-end;
  padding: 0 05vh;
}

.babou{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

.ret {
  padding: 2vh;
}



