@import 'main';

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-family;
  margin: 0;
}

header {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    i {
      color: $orange;
      font-size: 2rem;
      padding-right: 10%;
    }
  }

  .mon-compte{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    background-color: #F7A072;

    &:hover {
      background-color: darken(#F7A072,30);
    }
  }
}

.retour{
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.text{
  height:40px;
  width:250px;
  border-radius: 30px;
  border-style: none;
}

.description{
  height:100px;
  width:300px;
  border-radius: 30px;
  border-style: none;
}

select{
  height:40px;
  width:250px;
  border-radius: 30px;
  border-style: none;
}

.ajoutS{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}
.supp{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.ajoutGrij {
  line-height: 2.5;
  padding: 0 500px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9, 30);
  }
}

.annul{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.valid{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.NDD{
  display: flex;
  justify-content: space-between;
}

.Descr{
  display: flex;
  justify-content: space-between;
}