@import "main";
@import "svg"; 

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 9vh;
  background: $dark-grey;
}


.text-footer {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100% ;
}