@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* declaration des variables */
$font-family: 'Rubik', sans-serif;
$dark-grey: #363732;
$light-blue: #99E1D9;
$white: #F0F7F4;
$orange: #F7A072;
$gris : darken(#FFF, 20);

/* ne codez pas ici, c'est le fichier pour les variables, etc. */