@import 'main';

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920/200;
  overflow-x: hidden;
}

.ratio {
  aspect-ratio: 1920/200;
}

.wave-white-to-grey {
  background-image: url('../../../assets/svgs/wave.svg');
}