@import '../main';



body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-family;
  margin: 0;
}

.wrapper {
  padding: 0 50px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  >div {
    width: 40%;
  }
}
.first-row{
  justify-content: space-around;
}