@import '../main';

body {
    background-color: $white;
    color: $dark-grey;
    font-family: $font-family;
}

.retourBouton {
    background-color: $orange;
    color: $dark-grey;
    padding: 30px;
    padding: 1vh;
    border-radius: 2vh;
    text-decoration: none;
}

.genererGriJBouton {
    background-color: $light-blue;
    color: $dark-grey;
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 2vh;
    border: none;
}
.GriJ {
    padding: 5vh;
    background-color: $dark-grey;
    color: $white;
    border-radius: 2vh;
}