@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* declaration des variables */
/* ne codez pas ici, c'est le fichier pour les variables, etc. */
body {
  background-color: #F0F7F4;
  color: #363732;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border-radius: 2vh;
  max-width: 100%;
}

form {
  margin: auto;
}

.rounded {
  border-radius: 2vh !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15vh;
}

.container {
  box-shadow: 1vh 1vh 1vh grey;
  background-color: #363732;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3vh;
  border-radius: 2vh;
}

.entete-section h1 {
  color: #99E1D9;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}
.entete-section a div {
  background-color: #F7A072;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  color: #363732;
}
.entete-section a div i {
  font-size: 3vh;
  margin: 1vh;
}
.entete-section a div p {
  margin: 0;
}

.container-card-festivals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.container-card-spectacles {
  display: flex;
  flex-direction: column;
  padding: 1vh 3vh;
}

.card-festival {
  background-color: #F0F7F4;
  padding: 2vh;
  margin: 2vh;
}
.card-festival .haut-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-festival .haut-card .description-festival {
  margin: 3vh;
  font-size: 2vh;
}
.card-festival .bas-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1vh;
}
.card-festival .bas-card .group-boutons {
  flex-direction: row;
}

.img-spectacle, .img-festival {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom-spectacle, .nom-festival {
  font-weight: bold;
  font-size: 2.5vh;
}

.categorie {
  max-width: fit-content;
  flex: 1 1 auto;
  text-align: center;
  padding: 0.25vh 0.5vh;
  margin: 0 0.25vh 0.25vh 0;
  background-color: #363732;
  color: #F0F7F4;
  border-radius: 1vh;
}

.group-boutons {
  display: flex;
}
.group-boutons i {
  font-size: 4vh;
  margin: 1vh;
}
.group-boutons .fa-trash-can {
  color: red;
}
.group-boutons div {
  border-radius: 1vh;
}
.group-boutons div:hover {
  background-color: #cccccc;
}
.group-boutons div button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1vh;
}

.card-spectacles {
  display: flex;
  flex-direction: row;
  margin: 1vh;
  padding: 1vh;
  background-color: #F0F7F4;
  width: 100%;
}
.card-spectacles img {
  margin: 1vh;
}
.card-spectacles .description-spectacle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  font-size: 120%;
}
.card-spectacles .description-spectacle p, .card-spectacles .description-spectacle div {
  margin: 0 1vh;
}
.card-spectacles .description-spectacle .group-categories {
  max-width: 40vh;
}
.card-spectacles .description-spectacle .duree {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-spectacles .description-spectacle .group-boutons {
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .label-duree, .label-categorie {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .container-card-festivals {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  .img-spectacle, .img-festival {
    display: none;
  }
  .description-festival {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .description-festival p {
    padding: 0 1vh;
  }
  .entete-section {
    justify-content: center;
  }
  .entete-section h1 {
    display: none;
  }
  .entete-section a {
    width: 100%;
  }
}

/*# sourceMappingURL=dashboard.css.map */
