@import '../main';

body {
    background-color: $white;
    color: $dark-grey;
    font-family: $font-family;
    margin: 0;

}

a {
    text-decoration: none;
}

header {
    background-color: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;

    .logo {
        margin: 1rem;
        display: flex;
        align-items: center;

        i {
            color: $orange;
            font-size: 2rem;
            padding-right: 10%;
        }

        span {
            color: $white;
        }
    }

    .mon-compte div {
        background-color: $orange;
        color: $dark-grey;
        padding: 1vh;
        margin: 1vh;
    }
}

img {
    border-radius: 2vh;
    max-width: 100%;
}

div {
    border-radius: 2vh;
}

form {
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15vh;
}

.container {
    box-shadow: 1vh 1vh 1vh grey;
    background-color: $dark-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3vh;
}

.entete-section {
    h1 {
        color: $light-blue;
        font-size: 2rem;
        margin: 0;
        padding: 1rem;
    }

    a {


        div {
            background-color: $orange;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5vh;
            color: $dark-grey;

            i {
                font-size: 3vh;
                margin: 1vh;
            }

            p {
                margin: 0;
            }
        }
    }
}

.container-card-festivals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container-card-spectacles {
    display: flex;
    flex-direction: column;
    padding: 1vh 3vh;
}

.card-festival {
    background-color: $white;
    padding: 2vh;
    margin: 2vh;

    .haut-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .description-festival {
            margin: 3vh;
            font-size: 2vh;
        }


    }

    .bas-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: 1vh;

        .group-boutons {
            flex-direction: row;
        }
    }
}

.img-spectacle, .img-festival {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nom-spectacle, .nom-festival {
    font-weight: bold;
    font-size: 2.5vh;
}

.categorie {
    max-width: fit-content;
    flex: 1 1 auto;
    text-align: center;
    padding: 0.25vh 0.5vh;
    margin: 0 0.25vh 0.25vh 0;

    background-color: $dark-grey;
    color: $white;

    border-radius: 1vh;
}

.group-boutons {
    display: flex;

    i {
        font-size: 4vh;
        margin: 1vh
    }

    .fa-trash-can {
        color: red
    }

    div {
        border-radius: 1vh;

        &:hover {
            background-color: $gris;
        }

        button {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 1vh;
        }
    }
}


.card-spectacles {
    display: flex;
    flex-direction: row;
    margin: 1vh;
    padding: 1vh;
    background-color: $white;
    width: 100%;


    img {
        margin: 1vh;
    }

    .description-spectacle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        font-size: 120%;

        p, div {
            margin: 0 1vh;
        }

        .group-categories {
            max-width: 40vh;
        }

        .duree {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .group-boutons {
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    .label-duree, .label-categorie {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    //.img-spectacle, .img-festival {
    //    display: none;
    //}

    .container-card-festivals {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .img-spectacle, .img-festival {
        display: none;
    }

    .description-festival {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            padding: 0 1vh;
        }
    }
}