@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* declaration des variables */
/* ne codez pas ici, c'est le fichier pour les variables, etc. */
body {
  min-height: 100vh;
}

.Retour {
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;
}

.retour:hover {
  background-color: #c54b0b;
}

.ajoutS {
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
}

.ajoutS:hover {
  background-color: #33aea0;
}

.supp {
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;
}

.supp:hover {
  background-color: #c54b0b;
}

.ajoutGrij {
  line-height: 2.5;
  padding: 0 500px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
  display: flex;
  justify-content: center;
}

.ajoutGrij:hover {
  background-color: #33aea0;
}

.annul {
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;
}

.annul:hover {
  background-color: #c54b0b;
}

.valid {
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
}

.valid:hover {
  background-color: #33aea0;
}

.mon-compte {
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;
}

.mon-compte:hover {
  background-color: #c54b0b;
}

.butSpec {
  display: flex;
  align-items: flex-end;
  padding: 0 5vh;
}

.ret {
  padding: 2vh;
}

.ajouter {
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #99E1D9;
  transition: background-color 0.3s ease;
  width: 22vh;
  height: fit-content;
  border-radius: 30px;
  margin-left: 3vh;
}

.ajouter:hover {
  background-color: #85dbd2;
  scale: 1.05;
}

.suppOrga {
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #F7A072;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  margin-left: 4.5vh;
}

.suppOrga:hover {
  background-color: #f6905a;
  scale: 1.05;
}

.annulChoix {
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #F7A072;
  transition: background-color 0.3s ease;
  width: 22vh;
  height: fit-content;
  border-radius: 30px;
  margin-left: 3vh;
}

.annulChoix:hover {
  background-color: #f6905a;
  scale: 1.05;
}

.valider {
  width: 26vh;
  height: 4.8vh;
  padding: 0 50px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
}
.valider:hover {
  background-color: #85dbd2;
  scale: 1.05;
}

/*# sourceMappingURL=button.css.map */
