@import '../main';

.retour{
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}
.ajoutS{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}

.supp{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.ajoutGrij {
  line-height: 2.5;
  padding: 0 500px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: darken(#99E1D9, 30);
  }
}

.annul{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.valid{
  line-height: 2.5;
  padding: 0 150px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #99E1D9;

  &:hover {
    background-color: darken(#99E1D9,30);
  }
}

.mon-compte{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;

  &:hover {
    background-color: darken(#F7A072,30);
  }
}

.butSpec {
  display: flex;
  align-items: flex-end;
  padding: 0 05vh;
}

.ret {
  padding: 2vh;
}

.ajouter{
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $light-blue;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 30px ;
  margin-left: 3vh;
}
.ajouter:hover {
  background-color: darken($light-blue,5);
  scale: 1.05;

}

.suppOrga{
    padding: 10px 25px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: $orange;
    transition: background-color 0.3s ease;
    width: fit-content;
    height: fit-content;
    border-radius: 30px ;
    margin-left: 3vh;
}
.suppOrga:hover {
  background-color: darken($orange,5);
  scale: 1.05;
}

.annulChoix{
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $orange;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 30px ;
  margin-left: 3vh;
}
.annulChoix:hover {
  background-color: darken($orange,5);
  scale: 1.05;
}