@import '../main';

.btn-retour{
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: $orange;

  &:hover {
    background-color: darken($orange,5);
  }
}
.ajoutGrij {
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  width: 70%;

  &:hover {
    background-color: darken($light-blue, 5);
  }
}

.page-suivante{
  width: 26vh;
  height: 4.8vh;
  padding: 0 50px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: $light-blue;

  &:hover {
    background-color: darken($light-blue,5);
    scale: 1.05;
  }
}

.mon-compte{
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: $orange;

  &:hover {
    background-color: darken($orange,5);
  }
}

.button-flex-end {
  display: flex;
  align-items: flex-end;
  padding: 0 05vh;
}

.retour {
  padding: 2vh;
}

.ajouter{
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $light-blue;
  transition: background-color 0.3s ease;
  width: 22vh;
  height: fit-content;
  border-radius: 30px ;
  margin-left: 3vh;
}
.ajouter:hover {
  background-color: darken($light-blue,5);
  scale: 1.05;

}

.suppOrga{
    padding: 10px 25px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: $orange;
    transition: background-color 0.3s ease;
    width: fit-content;
    height: fit-content;
    border-radius: 30px ;
    margin-left: 4.5vh;
}
.suppOrga:hover {
  background-color: darken($orange,5);
  scale: 1.05;
}

.annulChoix{
  padding: 10px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $orange;
  transition: background-color 0.3s ease;
  width: 22vh;
  height: fit-content;
  border-radius: 30px ;
  margin-left: 3vh;
}
.annulChoix:hover {
  background-color: darken($orange,5);
  scale: 1.05;
}

.valider{
  width: 26vh;
  height: 4.8vh;
  padding: 0 50px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: $light-blue;

  &:hover {
    background-color: darken($light-blue,5);
    scale: 1.05;
  }
}