@import '../main';

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-family;
  margin: 0;
}

header {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    i {
      color: $orange;
      font-size: 2rem;
      padding-right: 10%;
    }
  }
}

.wrapper {
  padding: 0 10vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.NDD{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.Description{
  width: 55vw;

}

.flex-row{
  display: flex;
  flex-direction: row;
}
.first-row{
  justify-content: space-between;
}
.end-row{
  align-items: flex-end;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.valid-annul-placement{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}

hr {
  overflow: visible;
  text-align: center;
  border: none;
  height: 0.2vh;
  background-color: $dark-grey;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100vh;
}

.fa-circle-exclamation {
  color: red;
  margin: 0.5vh;
}

.fa-image{
  margin: 0.5vh;
}

.fa-circle-xmark{
  margin: 0.5vh;
}
.fa-arrow-right{
  margin: 0.5vh;
}
.fa-check{
  margin: 0.5vh;
}

.fa-plus{
  margin: 0.5vh;
}

.fa-trash-can{
  margin: 0.5vh;
}







