@import '../main';

.text{
  height:40px;
  width:600px;
  border-radius: 1vh;
  border-style: none;
}

textarea {
  resize: none; /* Empêche le redimensionnement de la zone de texte */
  height:300px;
  width:1000px;
  border-radius: 1vh;
  border-style: none;

}

.format{
  display: flex;
  align-items: flex-end;
  padding: 0 05vh;
}

select{
  height:40px;
  width:250px;
  border-radius: 1vh;
  border-style: none;
}


