@import '../main';

@media screen and (max-width: 1000px) {

  .flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-column{
    align-items: center;
  }

  .text{
    width: 50vw;
  }
  .align{
    padding: 0 150px
  }
}