@import '../main';

@media screen and (max-width: 1000px) {

  .form-duo {
    flex-direction: column;
  }
  .creationCompte {
    width: 100%;
    form {
      width: 100%;
      row-gap: 0;
    }
  }
  .boutonCreation {
    width: 100%;
  }
  .colonneCreationCompte {
    width: 100%;
    padding: 10px;
  }
  .mail {
    padding: 0 10px !important;
  }
  .wrapper {
    width: 100%;
    padding: 0 !important;
  }
}
