@import "../main";
@import "../util";

$taille_div: 90%;

.retour {
    background-color: $orange;
    width: fit-content;
    height: fit-content;
    margin: 1.5vh;

    button {
        background-color: transparent;
        border: none;
        padding: 1.5vh;
        cursor: pointer;
        font-size: 1.2rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        margin: 1vh 0;
    }

    > * { //On applique à tous les enfants de .wrapper
        width: $taille_div;
        display: flex;
        justify-content: center;
    }
}

.titre {
    font-size: 2rem;
    color: $dark-grey;

}

.section-spectacles-diposnible {
    background-color: $dark-grey;
    justify-content: space-between;
    align-items: center;
    color: $light-blue;
    font-size: 1.75rem;
    padding: 1.5vh;

    .btn-valider-spectacles-selectionne {
        background-color: $orange;

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            padding: 1vh;
            font-size: 0.8em;
        }

        &:hover {
            //                background-color: darken($orange, 20);
            background-color: $gris;
        }
    }
}

.container-card-spectacle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-grey;
    padding: 2vh;

    .aucun-spectacle{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            color: $white;
        }
    }

    .card-spectacle-dispo {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2vh 0;
        margin: 1vh 0;
        font-size: 1.5rem;

        .img-spectacle {
            min-height: 10vh;
            max-height: 15vh;

            display: flex;
            align-items: center;

            img {
                max-height: inherit;
                margin: 1vh;
            }
        }

        p, div {
            margin: 0 1vh;
        }

        .group-responsive {
            display: none;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .nom-spectacle {
                padding: 0 10vh 0 0;
            }
        }

        .group-categories {
            max-width: 40vh;

            .categorie {
                background-color: $dark-grey;
                color: $white;
                margin: 1vh 0 0 0;
                padding: 0.25vh 1vh;
                white-space: nowrap;
            }
        }

        .duree {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .group-bouton-ajouter-spectacle {
            svg, i {
                font-size: 3rem;
            }

            button {
                background-color: transparent;
                border: none;
                padding: 1vh;

                &:hover {
                    background-color: $gris;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .img-spectacle {
        display: none !important;
    }

    .card-spectacle-dispo {
        padding: 1vh !important;
    }
}


//Téléphone
@media screen and (max-width: 700px) {
    .section-spectacles-diposnible {
        flex-direction: column;
        &>.titre-section {
            margin-bottom: 1vh;
        }
    }

    .img-spectacle {
        display: none !important;
    }

    .card-spectacles {
        .group-categories > .label-categorie {
            display: none;
        }
    }

    .hors-group-responsive {
        display: none;
    }

    .group-responsive {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;

        > div {
            margin: 1vh !important;
        }

        .nom-spectacle {
            padding: 0 !important;
        }
    }
}

@media screen and (max-width: 740px) {
    .label-categorie, .label-duree {
        display: none;
    }
}