@import "../main";

header {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    i, svg {
      color: $orange;
      font-size: 2.5rem;
      padding-right: 10%;
    }

    span {
      color: $white;
      font-size: 25px;
      font-weight: lighter;
    }
  }

  .mon-compte {
    div {
      background-color: $orange;
      color: $dark-grey;
      padding: 1vh;
      margin: 1vh;
      border-radius: 2vh;
    }

    span {
      font-size: 1.3rem;
      padding: 1vh;
    }

  }
}