@import "../main";

header {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    i {
      color: $orange;
      font-size: 2rem;
      padding-right: 10%;
    }

    span {
      color: $white;
    }
  }

  .mon-compte div {
    background-color: $orange;
    color: $dark-grey;
    padding: 1vh;
    margin: 1vh;
  }
}