@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* declaration des variables */
/* ne codez pas ici, c'est le fichier pour les variables, etc. */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  min-height: 100vh;
  background-color: #F0F7F4;
  color: #363732;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

/* declaration des variables */
/* ne codez pas ici, c'est le fichier pour les variables, etc. */
body {
  min-height: 100vh;
  background-color: #F0F7F4;
  color: #363732;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

body {
  background-color: #F0F7F4;
  color: #363732;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #363732;
}

.rounded {
  border-radius: 2vh !important;
}

.bold {
  font-weight: bold;
}

.app {
  justify-content: center;
  align-items: center;
}

.retour {
  padding: 10px 25px;
}
.retour .btn-retour {
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #F7A072;
}
.retour .btn-retour:hover {
  background-color: #f6905a;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.container .title h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.wrapper {
  padding: 0 10vh;
}
.wrapper hr {
  margin: 40px 0;
  height: 4px;
  background-color: #363732;
  border: none;
  width: 100%;
}

.card-festival {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: #363732;
  color: #F0F7F4;
  padding: 1vh;
}
.card-festival .haut-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.card-festival .haut-card > div {
  margin: 1vh;
}

.card-spectacle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #363732;
  color: #F0F7F4;
  padding: 1vh;
}
.card-spectacle .description-spectacle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-spectacle .description-spectacle > div {
  margin: 0.5vh;
}

.categorie {
  max-width: fit-content;
  flex: 1 1 auto;
  text-align: center;
  padding: 0.25vh 0.5vh;
  margin: 0 0.25vh 0.25vh 0;
  background-color: #F0F7F4;
  color: #363732;
  border-radius: 1vh;
}

.valid-annul-placement {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
}
.valid-annul-placement .lastButton {
  height: 4.8vh;
  padding: 0 30px;
  font-size: 1rem;
  text-align: center;
  border-style: none;
  cursor: pointer;
  line-height: 2.7;
}
.valid-annul-placement .annulChoix {
  background-color: #99E1D9;
  transition: 0.3s ease;
}
.valid-annul-placement .annulChoix:hover {
  background-color: #85dbd2;
  scale: 1.05;
}
.valid-annul-placement .supprimer {
  background-color: #F7A072;
  transition: 0.3s ease;
}
.valid-annul-placement .supprimer:hover {
  background-color: #f6905a;
  scale: 1.05;
}

@media screen and (max-width: 700px) {
  .img-festival, .label-categorie, .label-description {
    display: none;
  }
  .card-spectacle {
    flex-direction: column;
  }
  .wrapper {
    padding: 0 2vh;
  }
  .description-festival {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .description-festival p {
    padding: 0 1vh;
  }
}

/*# sourceMappingURL=supression.css.map */
