@import "../main";

.formulaire {
  border-radius: 20px;
  background: $dark-grey;
  padding: 20px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: white;
  label {
    margin-bottom: 5px;
  }
  input {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    text-align: center;
    color: #F7A072;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .boutonConnexion {
    background: $light-blue;
    color: $dark-grey;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: fit-content;

  }
}

.switchForm {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: $orange;
  &:hover {
    cursor: pointer;
    text-decoration: underline $orange;
  }
}

.colonneCreationCompte {
  display: flex;
  flex-direction: column;
}

.connexion {
  form {
    width: 400px;
  }
}

.creationCompte {
  opacity: 0;
  display: none;
  .form-duo {
    display: flex;
    justify-content: space-between;
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }
  .boutonCreation {
    background: $light-blue;
    color: $dark-grey;
  }
  .lastSection {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .colonneCreationCompte {
    width: 100%;
    padding: 10px;
  }
}