@import '../main';

@media screen and (max-width: 1000px) {
  .partiePrincipale {
    flex-direction: column;
  }
  .presentation {
    text-align: center;
    margin-bottom: 25px;
    i {
      font-size: 10vh;
      padding-top: 55px;
    }
    .titre {
      font-size: 50px;
    }
    p {
      font-size: 2vh;
    }
    p {
      display: none;
    }
  }
  .partiePrincipale {
    padding: 25px;
    justify-content: normal;
  }
  .connexion form {
    width: 100%;
  }
  .formulaire {
    padding: 15px ;
  }
}

@media screen and (max-width: 600px) {
  .form-duo {
    flex-direction: column;
  }
  .creationCompte {
    width: 75%;
  }
  .boutonCreation {
    width: 50%;
  }
  .colonneCreationCompte {
    width: 100%;
  }
}