@import "main";

* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  color: $dark-grey;
  font-size: 20px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.partiePrincipale {
  padding: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  flex: 1;
}
.presentation * {
  margin: 0;
  line-height: 1;
}
.presentation i {
  color: $orange;
  font-size: 15vh;
}
.presentation .titre {
  font-size: 75px;
  font-weight: 400;
}
.presentation p {
  font-size: 3vh;
}
.colonneCreationCompte {
  display: flex;
  flex-direction: column;
}
.connexion {
  form {
    width: 400px;
  }
}
.creationCompte {
  form {
    width: 500px;
  }
  .form-duo {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 50px;
  }
}

.connexion, .creationCompte {
  border-radius: 10px;
  background: $dark-grey;
  padding: 45px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: white;

  label {
    margin-bottom: 5px;
  }
  input {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  a {
    text-align: center;
    color: #F7A072;
    text-decoration: none;
  }
  .boutonConnexion {
    text-align: center;
    background: $light-blue;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.creationCompte button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.retour {
  background: $orange;
}

footer {
  flex: none;
  min-height: 20vh;
  background: $dark-grey;
}