@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&family=Rubik&display=swap');
/* declaration des variables */
$font-family: 'Rubik', sans-serif;
$dark-grey: #363732;
$light-blue: #99E1D9;
$white: #F0F7F4;
$orange: #F7A072;

/* ne codez pas ici, c'est le fichier pour les variables, etc. */