@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* declaration des variables */
$font-family: 'Rubik', sans-serif;
$dark-grey: #363732;
$light-blue: #99E1D9;
$white: #F0F7F4;
$orange: #F7A072;
$gris : darken(#FFF, 20);

/* ne codez pas ici, c'est le fichier pour les variables, etc. */