@import "../main";

* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  color: $dark-grey;
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.partiePrincipale {
  padding: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  flex: 1;
}

.presentation {
  * {
    margin: 0;
    line-height: 1;
  }
  i {
    color: $orange;
    font-size: 15vh;
  }
  .titre {
    font-size: 75px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  p {
    font-size: 3vh;
    font-weight: 300;
  }
}


